@using Sucre_Utility
@model IEnumerable<AppUserM>
@{
    Layout = "_Layout";
    ViewData["Title"] = "AppUsers - ListAppUser";
    ViewData["DisplayOfEmptyList"] = "List of application users is empty!";
    // ViewData["HeaderTable"] = new Dictionary<string, string>()
    // {
    //    {"Head","List Of Metering Point Locations"},
    //    {"Controller","Cex"},
    //    {"Action","Upsert"},
    //    {"Caption","Add metering point location"}
    // };}


<div class="container p-3 bg-white">

    <div class="row pt-4 m-0 alert alert-primary">
        <div class="col-6 col-sm-4 col-md-6 col-lg-8">
            <h2 class="text-primary">List of users in the application</h2>
        </div>
        @if (User.IsInRole(WC.SupervisorRole))
        {
            <div class="col-6 col-sm-8 col-md-6 col-lg-4 text-end">
                <a asp-controller="AppUser" asp-action="UpsertAppUser" class="btn btn-primary-custom">
                    Add a new user
                </a>
            </div>
        }
    </div>

  @*   @{await Html.RenderPartialAsync("_DisplayHeaderIndex", ViewData["HeaderTable"]);} *@

    @if (Model.Count()>0)
    {
        <div class="m-0 p-0 alert alert-light table-responsive">            
            <table class="table table-secondary table-bordered table-striped table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Email</th>
                        <th>Passwordhash</th>
                        <th>Id group</th>
                        <th></th>
                    </tr>                
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td width="20%">@obj.Id</td>
                            <td width="10%">@obj.Name</td>
                            <td width="20%">@obj.Description</td>
                            <td width="10%">@obj.Email</td>
                            <td width="15%">@obj.PasswordHash</td>
                            <td width="5%">@obj.GroupNumber</td>
                            <td class="text-center w-100">
                                <a asp-controller="AppUser" asp-action="UpsertAppUser" asp-route-Id="@obj.Id" class="btn btn-primary-custom mx-2">
                                    Edit
                                </a>
                                <a asp-controller="AppUser" asp-action="ListAppUserRoles" asp-route-Id="@obj.Id" class="btn btn-primary-custom mx-2">
                                    Role...
                                </a>
                                @if (User.IsInRole(WC.SupervisorRole))
                                {
                                    <a asp-controller="AppUser" asp-action="DeleteAppUser" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">
                                        Del
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="AppUser" asp-action="DeleteAppUser" asp-route-Id="@obj.Id" class="btn btn-danger mx-2 disabled">
                                        Del
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    }   
    else
    {
        @* <div class="row row-cols-auto alert alert-danger" role="alert">
            <p class="text-danger h4">The list of metering point locations is empty!</p>
        </div> *@
        @*<partial name="_DisplayOfEmptyList" view-data="ViewData" />*@
        await Html.RenderPartialAsync("_DisplayOfEmptyList", ViewData["DisplayOfEmptyList"]);
    }
</div>