@model List<Sucre_Core.DTOs.DeviceDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Devices - Index";
    ViewData["DisplayOfEmptyList"] = "Devices list is empty!";
}

<div class="container p-3 bg-white">
    <div class="row pt-4 m-0 alert alert-primary">
        <div class="col col-sm-8 col-md-10 col-lg-10">
            <h2 class="text-primary">Devices List</h2>
        </div>
        <div class="col col-sm-4 col-md-2 col-lg-2 text-end">
            <a asp-controller="DeviceTag" asp-action="Upsert" class="btn btn-primary-custom w-auto">
                Add Devices
            </a>            
        </div>
    </div>

    @if (Model !=null && Model.Count()>0)
    {
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 alert alert-light table-responsive">
            <table class="table table-secondary table-bordered table-striped table-hover" style="width: 100%">
                <thead valign="middle">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Connection</th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td width="5%">@obj.Id</td>
                            <td width="15%">@obj.Name</td>
                            <td width="25%">@obj.Connection</td>
                            <td class="text-center w-auto">
                                <a asp-controller="DeviceTag" asp-action="Upsert" asp-route-Id="@obj.Id" class="btn btn-primary-custom m-auto">
                                    Edit
                                </a>
                                <a asp-controller="DeviceTag" asp-action="TableTagsDevice" asp-route-id="@obj.Id" class="btn btn-success m-auto">
                                    Channales
                                </a>
                                <a asp-controller="DeviceTag" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger-custom m-auto">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }   
    else
    {
        @* <div class="row row-cols-auto alert alert-danger" role="alert">
            <p class="text-danger h4">Channel list is empty!</p>
            <partial name="_DisplayOfEmptyList" view-data="ViewData" />
        </div>     *@
        @*<partial name="_DisplayOfEmptyList" view-data="ViewData" />*@
        await Html.RenderPartialAsync("_DisplayOfEmptyList", ViewData["DisplayOfEmptyList"]);
        ;
    }
</div>