@model Sucre_Core.DTOs.DeviceDto
@{
    Layout = "_Layout";
    var title = "";
    if (Model.Id == 0)
    {
        ViewData["Title"] = "Device - Create";
        title = "Create new device";
    }
    else
    {
        ViewData["Title"] = "Device - Edit";
        title = $"Edit a device ({Model.Id.ToString()})";
    }
}

<div class="container">
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        @if (Model.Id !=0)
        {
            <input asp-for="@Model.Id" hidden>
        }
        <div class="row card p-3 bg-white box-shadow">
            <div class="card-header">                
                <h2 class="text-primary-custom pl-3">@title</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">

                        <div class="row form-floating mb-3 py-1">
                            @Html.TextBoxFor(model => model.Name,null, new{@class="form-control", @type="text", @id="Name"})
                            @* <input asp-for="EnergyName" type="text" class="form-control" id="EnegyName"/> *@
                            @Html.LabelFor(model => model.Name, "Enter the name of the device", new{@for="Name"})
                            @* <label asp-for="EnergyName" for="EnergyName">Type of energy environment</label> *@
                            @Html.ValidationMessageFor(model => model.Name, null, new{@class="text-danger"})
                        </div>
                        <div class="row form-floating mb-3 py-1">
                            @Html.TextBoxFor(model => model.Connection, null, new{@class="form-control", @type="text", @id="Connection"})                            
                            @Html.LabelFor(model => model.Connection, "Enter a connection of the device", new { @for = "Connection" })
                            @Html.ValidationMessageFor(model => model.Connection, null, new{@class="text-danger"})
                        </div>
                        
                    </div>
                    <div class="col-4">
                        Keep
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row py-2">
                    <div class="col">
                        @if (Model.Id !=0)
                        {
                            <input type="submit" class="btn btn-success w-100" value="Update" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-success w-100" value="Create" />    
                        }                        
                    </div>
                    <div class="col">
                        <a asp-action="GetDevices" class="btn btn-secondary w-100">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
